<h1>Index</h1>

<button type="button" class="btn btn-primary" onclick="javascript:window.location.href='/'">Home</button>
<button type="button" class="btn btn-secondary" onclick="javascript:window.location.href='/license'">License</button>
<button type="button" class="btn btn-info" onclick="javascript:window.location.href='/readme'">Readme</button>

<hr />

<a class="btn btn-primary" href="@Url.Content("~/Datatables/CountryListClientSide")">Client Side Country List</a>

<hr />

<a class="btn btn-primary" href="@Url.Content("~/Datatables/CountryListServerSide")">Server Side Country List</a>